# Ignore presentation subfolders
0_project_initiation/presentation/발표 자료 예시/
0_project_initiation/presentation/사용한 사진 자료/
0_project_initiation/presentation/현대자동차 PPT/
1_project_preparation/2_single_module_experiment/1_Desktop_YOLO/data
1_project_preparation/2_single_module_experiment/2_Desktop_YOLO11n_seg/data
1_project_preparation/2_single_module_experiment/2_Jetson_YOLO/1_preparation/data
1_project_preparation/2_single_module_experiment/3_Jetson_Edge Detection/data
1_project_preparation/2_single_module_experiment/4_Jetson_FLIR_Lepton/document